.painel{
  background-color: black;
  color: white;
  width: 200px;
  height: 100px;   
  text-align: right;
  font-size: 30px;
  font-family: Arial;
}
.painel-botoes{
  width: 200px;
  height: 500px;
}
.botaoAC{
  width: 150px;
  height: 50px;
  background-color: grey;
  font-size: 26px;
  text-align: center;
  float: left;
}
.botaoDiv{
  width: 50px;
  height: 50px;
  background-color: orange;
  font-size: 26px;
  text-align: center;
  float: left;
}
.botaoNum{
  width: 50px;
  height: 50px;
  background-color: grey;
  text-align: center;
  font-size: 26px;
  float: left;
}
.botaoZero{
  width: 100px;
  height: 50px;
  background-color: grey;
  text-align: center;
  font-size: 26px;
  float: left;
}
.botaoVirg{
  width: 50px;
  height: 50px;
  background-color: grey;
  float: left;
  text-align: center;
  font-size: 26px;
}
